* {
    padding: 0;
    margin: 0;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.b1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*margin-top: 197px - 67px;*/
    margin-top: 137px;


    /*position: absolute;*/
    /*width: 701px;*/
    /*height: 45px;*/
    /*left: 370px;*/
    /*top: 197px;*/

    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;

    color: #606060;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.b2 {


    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */

    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
    text-indent: 50px;
    margin-top: 66px;
    padding-left: 22px;
    padding-right: 22px;
}

.contener {
    display: flex;
    flex-direction: row;
}

.cent {
    padding-left: 10px;
    padding-top: 10px;
    width: 60%;
}

.left {

    width: 40%;
    /*height: 100%;*/
}

.b3 {

    justify-content: center;
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #606060;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 65px;
    margin-bottom: 22px;
}

.b4 {
    justify-content: center;
    margin-top: 132px;

    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */

    display: flex;
    align-items: center;
    text-align: center;
}

.b5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;

}

.btt {
    margin-left: -100px;
}

.btt2 {
    margin-right: -100px;
}

.btt3 {
    margin-bottom: -48px;
}

.reddd {
    color: #FF0202;
}


.dddb2 {
    text-align: center;


    font-family: Montserrat;
    font-style: normal;

    font-size: 18px;
    line-height: 22px;


    text-decoration-line: underline;

    color: #23A6F0;
    margin-top: 8px;

}

.dddb3 {


    font-family: SeoulHangang CBL;
    font-style: normal;

    font-size: 36px;
    line-height: 36px;
    /* identical to box height */
    /*border: 4px double black;*/

    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;

    color: #606060;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 18px;
    margin-top: 30px;
}

.dddb4 {
    /*width: 145px;*/
    /*height: 24px;*/
    /*left: 649px;*/
    /*top: 1263px;*/

    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 24px;
    /* identical to box height, or 17% */

    letter-spacing: 0.2px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*border: 4px double black;*/
    margin-top: 274px;
    text-align: center;
}

.bgd {
    background-color: #EBEBEB;
}

.fonim {
    Width: 240px;
    Height: 202px;
}

.txt {


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* muted-color */

    color: #BDBDBD;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 25px;
    margin-top: 0;
}

/*.bor{*/
/*    border: 4px double black;*/
/*}*/

.txt2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
}

.txt3 {


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 15px 0px;
}


.ccc {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.ded {


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* primary-color */

    color: #23A6F0;


    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 15px 0px;
}

.txt4 {


    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    /* Greys/White */

    color: #FFFFFF;
    padding: 9px 34px;

}

.cha {
    border: 4px dotted #23A6F0; /* Параметры границы */
    /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

    width: 472px;
    height: 127px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
}

.cha1 {
    display: flex;
}

.cha2 {
    display: flex;
    flex-direction: column;

}

.cha3 {

    margin-left: 4px;
    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;

    color: #000000;
}

.cha4 {
    margin-left: 4px;


    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;


    color: #000000;

}

.cha5 {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

}

.cha6 {
    margin-left: 4px;
    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: #000000;
}

.b6 {
    text-align: center;
    margin-top: 50px;


    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */

    letter-spacing: 0.2px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.ff{
    margin-top: 77px;
    height: 232px;
    background-color: #F6F6F6;
    background-color: #791d1d;
    background-color: #e7e7e7;


}
.ff1{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.emt{
    width: 1px;
    height: 1px;
}
.ff2{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 69px;

}

.ff3{
    display: flex;


    justify-content: flex-end;

    margin-top: 69px;
}

.ff4{
    margin-top: 69px;
    display: flex;
    justify-content: flex-end;
}


.ggg{
    border: 4px double black;
}

.adsf{
    display: flex;
    flex-direction: column;
}

.fadsf{
    margin-left: 10px;
}

.asdf{
    margin-right: 43px;
}

.adsfa{




    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    text-align: center;
    margin-top: 45px;

    color: #8B949E;
}

.hhh1{


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #000000;
    margin-top: 28px;
    margin-right: 38px;

}

.hhh2{


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.8);
}

.hhh0{
    margin-top: 19px;
    margin-right: 20px;
}